{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="megamenu-content page-width">
                  <ul
                    class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  {% for block_data in section.blocks %}
                    {% if block_data.type == 'megamenu' and link.title == block_data.settings.megamenu_selector %}
                      {% style %}
                        .mega_{{ block_data.id }}:before {
                          background-color: rgb(var(--color-background));
                          background: var(--gradient-background);
                        }
                      {% endstyle %}
                      <div class="megamenu__data mega_{{ block_data.id }} color-{{ block_data.settings.color_scheme }}">
                        <div class="megamenu__datatext">
                          <h3>{{ block_data.settings.megamenu_title }}</h3>
                          <p>{{ block_data.settings.megamenu_subtitle }}</p>
                          <a class="button button--primary" href="{{ block_data.settings.megamenu_button-url }}">
                            {{- block_data.settings['megamenu_button-text'] -}}
                          </a>
                        </div>
                        <div class="megamenu__image">
                          {%- liquid
                            assign height = block_data.settings.imageselect.width | divided_by: block_data.settings.imageselect.aspect_ratio | round
                            assign sizes = '100vw'
                            assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                          %}
                          {{
                            block_data.settings.imageselect
                            | image_url: width: 3840
                            | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                          }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
