{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <top-level-menu id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <top-level-menu-text>
                <a
                  id="HeaderMenu-{{ link.handle }}"
                  href="{{ link.url }}"
                  class="header__menu-item list-menu__item link link--text focus-inset"
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  <span>
                    {{- link.title | escape -}}
                  </span>
                  {% render 'icon-caret' %}
                </a>
              </top-level-menu-text>
              {% liquid
                assign custom_data = false
                assign collection_images = false
                assign image_shape = 'default'
              %}
              {% liquid
                for block_data in section.blocks
                  if block_data.type == 'megamenu' and link.title == block_data.settings.megamenu_selector
                    assign custom_data = true
                  endif
                  if block_data.type == 'collection_image' and link.title == block_data.settings.mainmenu_selector
                    assign collection_images = true
                    assign img_columns = block_data.settings.img_columns
                    assign image_shape = block_data.settings.image_shape
                    assign space_bw_images = block_data.settings.space_bw_images | append: 'px'
                    assign text_align = block_data.settings.text_align
                    assign image_show_missing = block_data.settings.image_show_missing
                  endif
                endfor
              %}
              {% if image_shape == 'blob' %}
                {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
              {%- endif -%}
              {% if image_shape == 'arch' %}
                {% render 'mask-arch' %}
              {%- endif -%}
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content{% if custom_data %} custom_content{% endif %}{% if collection_images %} text_{{ text_align }} collection_image columns_{{ img_columns }}{% endif %} color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="megamenu-content page-width">
                  {% style %}
                    #MegaMenu-Content-{{ forloop.index }} ul {
                      gap: {{ space_bw_images }} !important;
                    }
                  {% endstyle %}
                  <ul
                    class="mega-menu__list {% unless collection_images %}{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}{% endunless %}{% if image_shape and image_shape != 'default' %}card--shape{% endif %}"
                    role="list"
                  >
                    {% liquid
                      if collection_images == true and image_show_missing == 'yes'
                        assign hide_links = true
                      elsif collection_images == true and image_show_missing == 'no'
                        assign hide_links = false
                      endif
                    %}
                    {%- for childlink in link.links -%}
                      {% comment %}
                        these lines of code will get the matching collections with images, unmatched link will be hidden.
                      {% endcomment %}
                      {% liquid
                        assign targetCollectionHandle = false
                        for block_data in section.blocks
                          if block_data.type == 'collection_image' and link.title == block_data.settings.mainmenu_selector
                            assign targetCollectionHandle = 'Collections'
                          endif
                        endfor
                        assign collectionImage = false
                        for collection in collections
                          if collection.handle == childlink.handle
                            assign collectionImage = collection.image
                            break
                          endif
                        endfor
                      %}
                      {% if targetCollectionHandle and collectionImage %}
                        <li>
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            <div class="mega-menu__image-shape{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }}{% endif %}">
                              <img
                                loading="eager"
                                width="200"
                                height="200"
                                src="{{ collectionImage.src | image_url }}"
                                alt="{{ collectionImage.alt }}"
                              >
                            </div>
                            {{ childlink.title | escape }}
                          </a>
                        </li>
                      {% elsif targetCollectionHandle %}
                        {% if hide_links %}
                          <li>
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                              href="{{ childlink.url }}"
                              class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                              {% if childlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ 'collection-1' | placeholder_svg_tag }}
                              {{ childlink.title | escape }}
                            </a>
                          </li>
                        {% endif %}
                      {% else %}
                        <li>
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                          {%- if childlink.links != blank -%}
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {% endif %}
                    {%- endfor -%}
                  </ul>
                  {% for block_data in section.blocks %}
                    {% if block_data.type == 'megamenu' and link.title == block_data.settings.megamenu_selector %}
                      {% style %}
                        .mega_{{ block_data.id }}:before {
                          background-color: rgb(var(--color-background));
                          background: var(--gradient-background);
                        }
                      {% endstyle %}
                      <div class="megamenu__data mega_{{ block_data.id }} color-{{ block_data.settings.color_scheme }}">
                        <div class="megamenu__datatext">
                          <h3>{{ block_data.settings.megamenu_title }}</h3>
                          <p>{{ block_data.settings.megamenu_subtitle }}</p>
                          <a class="button button--primary" href="{{ block_data.settings.megamenu_button-url }}">
                            {{- block_data.settings['megamenu_button-text'] -}}
                          </a>
                        </div>
                        <div class="megamenu__image">
                          {%- liquid
                            assign height = block_data.settings.imageselect.width | divided_by: block_data.settings.imageselect.aspect_ratio | round
                            assign sizes = '100vw'
                            assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                          %}
                          {{
                            block_data.settings.imageselect
                            | image_url: width: 3840
                            | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                          }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </top-level-menu>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
